* { padding: 0; margin: 0; }

a { text-decoration: none; }

body {
    background-color: #333;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    width: 100%;
    background: white;
    display: block;
    height: 50px;
}

header h1 {
    padding-top: 10px;
    padding-left: 20px;
    font-size: 20px;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
}

div#wrapper {
    width: 75%;
    margin: 0px auto;
    background: #fff;
    min-height: 400px;
}

table#data-tampil {
    margin: 25px auto;
    border-collapse: collapse;
    width: 85%;
}

table#data-tampil tr th {
    height: 30px;;
}

div#wrapper table#detail {
    width: 60%;
    margin: 5px auto;
    font-size: 30px;
}